astroid==2.4.2
attrs==19.3.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
errorhandler==2.0.1
git-python==1.0.3
gitdb==4.0.5
GitPython==3.1.8
idna==2.10
isbnlib==3.10.3
isort==4.3.21
Jinja2==2.11.2
jsonschema==3.2.0
lazy-object-proxy==1.4.3
manubot==0.4.0
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.19.1
packaging==20.4
pandoc-secnos==2.2.2
pandoc-xnos==2.4.2
pandocfilters==1.4.2
panflute==1.12.5
psutil==5.7.2
pybase62==0.4.3
pylint==2.5.3
pyparsing==2.4.7
PyQt5==5.15.0
PyQt5-sip==12.8.0
PyQt5-stubs==5.14.2.2
PyQtWebEngine==5.15.0
pyrsistent==0.16.0
PyYAML==5.3.1
ratelimiter==1.2.0.post0
requests==2.24.0
requests-cache==0.5.2
six==1.15.0
smmap==3.0.4
toml==0.10.1
urllib3==1.26.5
wrapt==1.12.1
